.about-section {
  grid-column: 2/14;
  padding: 10rem 5rem;
}

.about-container {
  height: 50rem;
  display: flex;
}

.about-text {
  padding: 13rem;
}

.about-text h2 {
  position: relative;
  margin-bottom: 2rem;
}

.about-text h2::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-image: linear-gradient(to right, #00b2ff, #b85eff, #00b2ff, #b85eff);
}

.about-text p {
  text-align: justify;
}

.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill p {
  margin-top: 10px;
}