.about-container {
  grid-column: 2/14;
  padding: 15rem 8rem;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  height: 50rem;
}

.about-img {
  grid-column: 1;
  height: 30em;
  margin: 0;
}

.about-img img {
  height: 100%;
}

.about-text {
  grid-column: 2;
  text-align: justify;
  padding: 1rem;
}

.skills-section {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill p {
  margin-top: 2rem;
}