.contact-container {
    grid-column: 2/14;
    padding: 0 6rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.bye-img {
    grid-column: 1;
    height: 30em;
}

.bye-img img {
    height: 100%;
}

.contact-title {
    grid-column: 2;
    margin-top: 8em;
    text-align: justify;
}

.contact-title p{
    margin-bottom: 1.5rem;
}

.contact-icons {
    display: flex;
    margin-top: 5rem;
    max-width: 40rem;
    justify-content: space-between;
}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 1em;
}

.icon.instagram:hover {
    color: #C13584;
}

.icon.linkedin:hover {
    color: #0077B5;
}

.icon.github:hover {
    color: #171515;
}

.icon::after {
    display: none;
}