.contact-container {
    grid-column: 2/14;
    padding: 0 6rem;
    margin-top: 12rem;
}

.contact-container h2 {
   font-size: 4.5rem;
    line-height: 130.4%;
    letter-spacing: -0.06em;
    color: var(--color-gray);
    font-weight: 100;
    margin-top: 4rem;
}

.contact-title {
    line-height: 130.4%;
    letter-spacing: -0.06em;
    color: #c4c4c4;
    margin-top: 3rem;
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    grid-gap: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 40rem;
}

.highlight {
    background-color: yellow;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.icon-button:hover {
    animation: bounce 0.4s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}