.education-container {
  display: flex;
  height: 100%;
}

.edu-heading {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align:left;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
}

.edu-heading h2::first-letter {
  color: rgb(197, 103, 155);
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #549bdd;
}

.workButton:hover {
  background-color: #c7ccd2;
}

.schoolButton {
  background-color: #845d91;
}

.schoolButton:hover {
  background-color: #c7ccd2;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}