.progressbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar {
    position: relative;
    width: 450px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 80px;
    background-color: #60636c;
    box-shadow: 0px 0px 20px #615d5d;
    overflow: hidden;
}

.bar {
    background: linear-gradient(180deg,
            rgb(131, 143, 230) 0%,
            rgb(102, 127, 255) 32%,
            rgb(150, 144, 236) 100%);
}

.progressbar-text-container {
    color: rgb(252, 245, 245);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    height: 100%;
}