.project-container {
    grid-column: 1/15;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
    padding: 8rem 0;
    background-color: #050810;
}

.project-heading {
    grid-column: 2/14;
    letter-spacing: -0.03em;
    color: #eff0f4;
    position: relative;
}

.project-heading h2::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 40%;
    height: 2px;
    background-image: linear-gradient(to right, #00b2ff, #b85eff, #00b2ff, #b85eff);
}

.project-wrapper {
    grid-column: 1/15;
    overflow-x: hidden;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.section-reviews-bottom-wrapper {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-card {
    background: #171e2f;
    border-radius: 2rem;
    padding: 2rem;
    margin: 1.5rem;
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-card-h4 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #eff0f4;
}

.review-card-anim1 {
    animation: reviewCardAnimation1 15s ease-in-out infinite alternate;
}

.review-card-anim2 {
    animation: reviewCardAnimation2 15s ease-in-out infinite alternate;
}

.review-card-anim1:hover,
.review-card-anim2:hover {
    animation-play-state: paused;
}

@keyframes reviewCardAnimation1 {
    from {
        transform: translateX(-32%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes reviewCardAnimation2 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-32%);
    }
}

@media only screen and (max-width: 57em) {
    .section-reviews-bottom-wrapper {
        padding: 0 4rem;
    }
}