    .parallax-bg3 {
        padding: 100px 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        background-image: url('../images/pink.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    blockquote {
        text-align: center;
        font-size: 18px;
        font-style: italic;
        margin: 0;
    }

    blockquote p {
        margin: 0;
    }