/* Skills container */
.skills-container {
  text-align: center;
  margin-top: 30%;
}

.centered-heading {
  margin-top: 0;
}

.boxes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}

.icon img {
  width: 50px;
  height: 50px;
}

.divider {
  width: 1px;
  height: 50px;
  background-color: #333;
}

.text {
  margin-top: 0.5rem;
  font-size: 1rem;
}